<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Workfolio"
        tools:targetApi="31">
        <activity
            android:name=".EditPost"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".UpdateProfileFreelancer"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".SavedJobs"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".UpdateProfileHR"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".ChangePassword"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".HelpSupportActivity"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".AboutusActivity"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".ApplicantActivity2"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".ApplicantsActivity"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".ManagePostActivity"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".NewPostActivity"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".ForgetPassword"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".SelectRole"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".DashboardHR"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".DashboardFreelancer"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".SignupHR"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".SetPassword"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".SignupFreelancer"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="locked"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="locked"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>